<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<h2>Products:</h2>
<ul>
<% @shopProducts.each do |product| %> 
	<li><%= product.product_name %> <br> 
	
	<%= render partial: 'reviews/review', collection: product.reviews %> 

	<%= render partial: 'products/accept_review', locals: {product: product} %> 
	</li>

<%end%> 
</ul>
<%# <%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %>
